@font-face {
  font-family: "Branch";
  src: local("Branch"), url(/fonts/Branch.ttf) format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "GothamBook";
  src: local("GothamBook"), url(/fonts/GothamBook.ttf) format("ttf");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
